<app-nav></app-nav>
<section class="main">


</section>
<div class="portada">
  <div class="elemento1">
    <h2 style="font-size: 3.2em;">Starter projects <span
        style="color:green;font-size: 3em;font-weight:700px; "> Acer </span></h2>
    <p>Ready to beyond the starter with Check </p>
    <ul class="icon-list">
      <li><a href="https://github.com/twbs/bootstrap-npm-starter" rel="noopener" target="_blank">Bootstrap npm
          starter</a></li>
      <li class="text-muted">Bootstrap Parcel starter (coming soon!)</li>
    </ul>
  </div>

  <div class="elemento2">

    <img src="../assets/images/acer1.png" width="100%" alt="">
  </div>
</div>